#: schema https://esm.sh/wrangler/config-schema.json
# https://developers.cloudflare.com/workers/wrangler/configuration

name = "visx"
minify = true
keep_vars = true
workers_dev = true
main = "./dist/index.js"
assets = { directory = "./dist" }
compatibility_date = "2026-01-20"
compatibility_flags = ["nodejs_compat"]

dev = { port = 6969 }

# https://developers.cloudflare.com/workers/observability/logs/workers-logs/
observability = { enabled = true, logs = { enabled = true } }

[vars]
BUN_VERSION = "1.3.8"
NODE_ENV = "production"
